<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">C:/Log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %t %-5level %M - %msg%xEx%n"/>
        </Console>

        <RollingFile name="appLog"
                     fileName="C:/Log/application.log"
                     filePattern="C:/Log/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />

<!--            <JSONEventLayoutLog4j2 dateFormat="yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" charset="UTF-8" compact="true" properties="true" locationInfo="false">-->
<!--                <KeyValuePair key="Component" value="Smooth"/>-->
<!--            </JSONEventLayoutLog4j2>-->

            <JsonLayout compact="true" eventEol="true" stacktraceAsString="true">
            </JsonLayout>

        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="com.smooth.pos" additivity="false">
            <AppenderRef ref="appLog" />
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="appLog" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>

        https://medium.com/@vinod.bhatt/print-logs-output-as-json-string-in-spring-boot-java-log4j2-7577c8e9229b